* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: white;
    font-size: 18px;
}

.title {
    top: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 8px;
}

.menu div {
    padding: 4px;
    width: 96px;
    text-align: center;
    color: #aaaaaa;
    cursor: pointer;
    transition:  color 0.2s;
}

.menu div.selected {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    transition: left cubic-bezier(0, 1, 0.75, 1) 0.4s;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow-y: auto;
}

.button:active {
    opacity: 0.5;
}

.clock {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 24px;
}

.clock .middle {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    z-index: 4;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 10px black;
}

.clock .hand {
    position: relative;
    top: 50%;
}

.clock .hand * {
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
    box-shadow: 2px 2px 10px black;
}

.clock .hand .hour {
    left: calc(50% - 3px);
    z-index: 1;
    width: 6px;
    height: 65px;
    background-color: white;
}

.clock .hand .minute {
    left: calc(50% - 2px);
    z-index: 2;
    width: 4px;
    height: 90px;
    background-color: white;
}

.clock .hand .second {
    left: calc(50% - 1px);
    z-index: 3;
    width: 2px;
    height: 100px;
    background-color: white;
}

.clock .hand .second::before {
    display: block;
    position: relative;
    top: 100%;
    width: 2px;
    height: 40px;
    content: "";
    background-color: white;
}

.clock .number {
    font-size: 24px;
}

.clock .number > div {
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
    height: 50%;
    transform-origin: bottom center;
}

.clock .number div:nth-child(1) {
    left: calc(50% - 10px);
}
.clock .number div:nth-child(2) {
    transform: rotate(30deg);
}
.clock .number div:nth-child(2) div {
    transform: rotate(-30deg);
}
.clock .number div:nth-child(3) {
    transform: rotate(60deg);
}
.clock .number div:nth-child(3) div {
    transform: rotate(-60deg);
}
.clock .number div:nth-child(4) {
    transform: rotate(90deg);
}
.clock .number div:nth-child(4) div {
    transform: rotate(-90deg);
}
.clock .number div:nth-child(5) {
    transform: rotate(120deg);
}
.clock .number div:nth-child(5) div {
    transform: rotate(-120deg);
}
.clock .number div:nth-child(6) {
    transform: rotate(150deg);
}
.clock .number div:nth-child(6) div {
    transform: rotate(-150deg);
}
.clock .number div:nth-child(7) {
    transform: rotate(180deg);
}
.clock .number div:nth-child(7) div {
    transform: rotate(-180deg);
}
.clock .number div:nth-child(8) {
    transform: rotate(210deg);
}
.clock .number div:nth-child(8) div {
    transform: rotate(-210deg);
}
.clock .number div:nth-child(9) {
    transform: rotate(240deg);
}
.clock .number div:nth-child(9) div {
    transform: rotate(-240deg);
}
.clock .number div:nth-child(10) {
    transform: rotate(270deg);
}
.clock .number div:nth-child(10) div {
    transform: rotate(-270deg);
}
.clock .number div:nth-child(11) {
    left: calc(50% - 10px);
    transform: rotate(300deg);
}
.clock .number div:nth-child(11) div {
    transform: rotate(-300deg);
}
.clock .number div:nth-child(12) {
    left: calc(50% - 10px);
    transform: rotate(330deg);
}
.clock .number div:nth-child(12) div {
    transform: rotate(-330deg);
}

.indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.indicator .indicator_date {
    font-size: 24px;
}

.indicator .indicator_time {
    font-size: 48px;
}

.alarm_add {
    text-align: center;
}

.alarm_add i {
    padding: 16px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.alarm_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.alarm_list li {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    background-color: #222222;
    text-align: center;
    cursor: pointer;
    transition: background-color cubic-bezier(0, 1, 0.75, 1) 0.8s;
}

.alarm_list .alarm_add {
    background-color: transparent;
}

.alarm_list .alarm_item.disabled {
    color: #aaaaaa;
}

.alarm_list .alarm_item.holded {
    background-color: #999999;
}

.alarm_modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #111111;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
}

.alarm_modal.opened {
    top: 0;
    opacity: 1;
}

.alarm_modal .time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 52px;
    overflow: hidden;
}

.alarm_modal .time .time_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#111111 0%, #11111100 30%, #11111100 70%, #111111 100%);
    z-index: 5;
    pointer-events: none;
}

.alarm_modal .time .time_selector {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 33%;
    height: 77px;
    cursor: ns-resize;
    transition: top 0.2s;
}

.alarm_modal .time .time_selector div {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 77px;
}

.alarm_modal .time .time_selector.no-transition {
    transition: none;
}

.alarm_modal .days {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.alarm_modal .days li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: border 0.2s, opacity 0.2s;
}

.alarm_modal .days li:first-child {
    color: rgb(255, 64, 64);
}

.alarm_modal .days li:last-child {
    color: rgb(64, 192, 255);
}

.alarm_modal .days li.selected {
    border-color: white;
    font-weight: bold;
    opacity: 1;
}

.alarm_modal .checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}

.alarm_modal input[name="alarm_name"] {
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 24px;
}

.alarm_modal input[type="checkbox"] {
    display: none;
}

.alarm_modal input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
}

.alarm_modal input[type="checkbox"] + label::before {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    margin-right: 4px;
    content: "";
    text-align: center;
    font-size: 22px;
    transition: background-color cubic-bezier(0, 1, 0.75, 1) 0.2s;
}

.alarm_modal input[type="checkbox"]:checked + label::before {
    content: "\2714";
}

.alarm_modal .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.alarm_modal .buttons * {
    width: 48%;
    height: 60px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.alarm_modal .buttons .cancel {
    color: white;
    background-color: #111111;
}

.alarm_modal .buttons .ok {
    color: black;
    background-color: white;
}