/* Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: 0;
}

ul {
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    color: white;
    font-size: 18px;
}

header {
    top: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 8px;
}

.menu > div {
    padding: 4px;
    width: 96px;
    text-align: center;
    color: #aaaaaa;
    transition:  color 0.2s;
}

.menu > div.selected {
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    transition: left cubic-bezier(0, 1, 0.75, 1) 0.4s;
}

.page-wrapper section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    flex-shrink: 0;
    overflow-y: auto;
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    opacity: 0.5;
}

ul.week-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.week-list li {
    margin: 0;
    padding: 4px;
}

.week-list *:first-child {
    color: rgb(255, 64, 64);
}

.week-list *:last-child {
    color: rgb(64, 192, 255);
}


/* Clock */

.page__clock {
    justify-content: center;
}

.clock {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 24px;
}

.clock__middle {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    z-index: 4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.clock__hands {
    position: relative;
    top: 50%;
}

.clock__hands > div {
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
}

.clock__hands__hour {
    left: calc(50% - 3px);
    z-index: 1;
    width: 6px;
    height: 65px;
    background-color: white;
}

.clock__hands__minute {
    left: calc(50% - 2px);
    z-index: 2;
    width: 4px;
    height: 90px;
    background-color: white;
}

.clock__hands__second {
    left: calc(50% - 1px);
    z-index: 3;
    width: 2px;
    height: 100px;
    background-color: white;
}

.clock__hands__second::before {
    display: block;
    position: relative;
    top: 100%;
    width: 2px;
    height: 40px;
    content: "";
    background-color: white;
}

.clock__number {
    font-size: 18px;
}

.clock__number > div {
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
    height: 50%;
    transform-origin: bottom center;
}

.clock__number > div:nth-child(1) {
    left: calc(50% - 10px);
}
.clock__number > div:nth-child(2) {
    transform: rotate(30deg);
}
.clock__number > div:nth-child(2) > div {
    transform: rotate(-30deg);
}
.clock__number > div:nth-child(3) {
    transform: rotate(60deg);
}
.clock__number > div:nth-child(3) > div {
    transform: rotate(-60deg);
}
.clock__number > div:nth-child(4) {
    transform: rotate(90deg);
}
.clock__number > div:nth-child(4) > div {
    transform: rotate(-90deg);
}
.clock__number > div:nth-child(5) {
    transform: rotate(120deg);
}
.clock__number > div:nth-child(5) > div {
    transform: rotate(-120deg);
}
.clock__number > div:nth-child(6) {
    transform: rotate(150deg);
}
.clock__number > div:nth-child(6) > div {
    transform: rotate(-150deg);
}
.clock__number > div:nth-child(7) {
    transform: rotate(180deg);
}
.clock__number > div:nth-child(7) > div {
    transform: rotate(-180deg);
}
.clock__number > div:nth-child(8) {
    transform: rotate(210deg);
}
.clock__number > div:nth-child(8) > div {
    transform: rotate(-210deg);
}
.clock__number > div:nth-child(9) {
    transform: rotate(240deg);
}
.clock__number > div:nth-child(9) > div {
    transform: rotate(-240deg);
}
.clock__number > div:nth-child(10) {
    transform: rotate(270deg);
}
.clock__number > div:nth-child(10) > div {
    transform: rotate(-270deg);
}
.clock__number > div:nth-child(11) {
    left: calc(50% - 10px);
    transform: rotate(300deg);
}
.clock__number > div:nth-child(11) > div {
    transform: rotate(-300deg);
}
.clock__number > div:nth-child(12) {
    left: calc(50% - 10px);
    transform: rotate(330deg);
}
.clock__number > div:nth-child(12) > div {
    transform: rotate(-330deg);
}

.clock__indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.clock__indicator__date {
    font-size: 24px;
}

.clock__indicator__time {
    font-size: 48px;
}


/* Alarm */

.alarm-adder {
    text-align: center;
}

.alarm-adder i {
    padding: 16px;
    border: 1px solid white;
    border-radius: 50%;
}

.alarm-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.alarm-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin: 4px 0;
    background-color: #222222;
    text-align: center;
    transition: background-color cubic-bezier(0, 1, 0.75, 1) 0.8s;
}

.alarm-list .alarm-adder {
    background-color: transparent;
}

.alarm-list .alarm-item {
    position: relative;
    cursor: pointer;
}

.alarm-list .alarm-item.repeat {
    border: 1px solid white;
}

.alarm-list .alarm-item.disabled {
    opacity: 0.5;
}

.alarm-list .alarm-item.holded {
    background-color: #999999;
}

.alarm-list .alarm-item .week-list {
    font-size: 14px;
}

.alarm-list .alarm-item .week-list li {
    padding: 2px;
    opacity: 0.5;
}

.alarm-list .alarm-item .week-list li.selected {
    font-weight: bold;
    opacity: 1;
}

.alarm-list .alarm-item .fa-sync-alt {
    position: absolute;
    right: 8px;
    top: 8px;
}

.alarm-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 100%;
    z-index: 10;
    width: 98%;
    max-width: 480px;
    height: 100%;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px 8px 0 0;
    background-color: #111111;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
}

.alarm-modal.opened {
    top: 8px;
    opacity: 1;
}

.time-selector-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 420px;
    font-size: 52px;
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
    touch-action: none;
}

.time-selector-wrapper.locked {
    pointer-events: none;
    opacity: 0.75;
}

.time-selector-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#111111 0%, #11111100 30%, #11111100 70%, #111111 100%);
    z-index: 5;
    pointer-events: none;
}

.time-selector {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 33%;
    height: 77px;
    cursor: ns-resize;
    transition: top 0.2s;
}

.time-selector > div {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 77px;
}

.time-selector.no-transition {
    transition: none;
}

.alarm-modal .day-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.alarm-modal .day-selector li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    opacity: 0.5;
    transition: border 0.2s, opacity 0.2s;
}

.alarm-modal .day-selector li.selected {
    border-color: white;
    font-weight: bold;
    opacity: 1;
}

.alarm-modal .checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}

input#alarm-name {
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 24px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

input[type="checkbox"] + label::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 8px;
    content: "";
    text-align: center;
    font-size: 14px;
    transition: background-color cubic-bezier(0, 1, 0.75, 1) 0.2s;
}

input[type="checkbox"]:checked + label::before {
    background-color: white;
    box-shadow: 0 0 4px white;
}

.alarm-modal .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.alarm-modal .buttons button {
    width: 48%;
    height: 60px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
}

.alarm-modal .buttons .cancel {
    color: white;
    background-color: #111111;
}

.alarm-modal .buttons .ok {
    color: #111111;
    background-color: white;
}


/* Stopwatch */

.page__stopwatch {
    justify-content: space-evenly;
}

.stopwatch-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
    z-index: 50;
    font-family: 'Inconsolata', monospace;
    font-size: 72px;
    transition: top 0.4s;
}

.stopwatch-time.activated {
    top: 0;
}

.stopwatch-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    max-width: 480px;
    height: 48px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
}

.stopwatch-buttons button {
    flex-grow: 1;
    border: none;
    color: white;
    background-color: #111111;
    font-size: 18px;
}

.stopwatch-buttons button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.stopwatch-buttons .start {
    display: block;
}

.stopwatch-buttons .stop {
    color: #111111;
    background-color: white;
    display: none;
}

.stopwatch-record {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 20px;
    width: 80%;
    max-width: 480px;
    height: 40%;
    z-index: 5;
    overflow: hidden;
    touch-action: none;
    cursor: ns-resize
}

.stopwatch-record-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#111111 0%, #11111100 30%, #11111100 70%, #11111100 100%);
    z-index: 10;
    pointer-events: none;
}

.stopwatch-record ul {
    position: absolute;
    transition: top 0.4s;
}

.stopwatch-record ul.no-transition {
    transition: none;
}

.stopwatch-record ul li:last-child {
    text-shadow: 0 0 2px white;
}

.stopwatch-record li {
    margin-top: 8px;
}


/* Timer */

.page__timer {
    justify-content: space-evenly;
}

.page__timer .time-selector-wrapper {
    font-size: 64px;
}

.page__timer .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 50px;
    width: 50%;
    max-width: 320px;
    height: 48px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
}

.page__timer .buttons button {
    flex-grow: 1;
    border: none;
    color: white;
    background-color: #111111;
    font-size: 18px;
}

.page__timer .buttons button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.page__timer .buttons .start {
    display: block;
}

.page__timer .buttons .stop {
    color: #111111;
    background-color: white;
    display: none;
}

.page__timer .buttons .reset {
}