:root {
    --color-black_alpha: #11111100;
    --color-black: #111111;
    --color-dark-gray: #222222;
    --color-gray: #555555;
    --color-bright-gray: #999999;
    --color-white: #ffffff;
}

/* Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

button {
    outline: 0;
}

ul {
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 18px;
}

header {
    top: 0;
    z-index: 10;
    width: 100%;
    height: 36px;
    padding: 8px;
    background-color: var(--color-black);
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 54px;
    padding: 8px;
    background-color: var(--color-black);
}

.menu > div {
    padding: 4px;
    width: 96px;
    border: 1px solid transparent;
    color: var(--color-bright-gray);
    text-align: center;
    transition: color 0.2s;
}

.menu > div.selected {
    border-color: var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
}

.page-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 36px - 54px);
    margin-bottom: 54px;
    transition: transform cubic-bezier(0, 1, 0.75, 1) 0.4s;
}

.page-wrapper section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    opacity: 0.5;
}

ul.week-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.week-list > li:first-child {
    color: rgb(255, 64, 64);
}

.week-list > li:last-child {
    color: rgb(64, 192, 255);
}


/* Clock */

.page__clock {
    justify-content: center;
}

.clock {
    position: relative;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    margin-bottom: 24px;
}

.clock__middle {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.clock__hands {
    position: relative;
    top: 50%;
}

.clock__hands > div {
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    transform-origin: bottom center;
}

.clock__hands__hour {
    left: calc(50% - 3px);
    width: 6px;
    height: 60px;
    background-color: var(--color-white);
}

.clock__hands__minute {
    left: calc(50% - 2px);
    width: 4px;
    height: 85px;
    background-color: var(--color-white);
}

.clock__hands__second {
    left: calc(50% - 1px);
    width: 2px;
    height: 100px;
    background-color: var(--color-white);
}

.clock__hands__second::before {
    display: block;
    position: relative;
    top: 100%;
    width: 2px;
    height: 40px;
    content: "";
    border-radius: 4px;
    background-color: var(--color-white);
}

.clock__number {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

.clock__number > div {
    position: absolute;
    top: 12px;
    left: calc(50% - 8px);
    width: 18px;
    height: 112px;
    text-align: center;
    transform-origin: bottom center;
}

.clock__number > div:nth-child(1) {
    left: calc(50% - 6px);
}

.clock__scale {
    position: relative;
    top: 3px;
    left: 50%;
}

.clock__scale > div {
    position: absolute;
    width: 1px;
    height: 240px;
}

.clock__scale > div::after {
    display: block;
    content: "";
    width: 1px;
    height: 4px;
    background-color: var(--color-white);
}

.clock__scale > div:nth-child(5n + 1)::after {
    width: 3px;
    height: 6px;
}

.clock__indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.clock__indicator__date {
    font-size: 24px;
}

.clock__indicator__time {
    font-size: 48px;
}


/* Alarm */

.alarm-adder {
    margin: 4px 0;
    text-align: center;
    font-size: 16px;
}

.alarm-adder i {
    padding: 12px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
}

.alarm-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 8px;
}

.alarm-list .alarm-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    margin: 4px 0;
    background-color: var(--color-dark-gray);
    text-align: center;
    touch-action: none;
    transition: background-color cubic-bezier(0, 1, 0.75, 1) 0.6s,
                opacity cubic-bezier(0, 1, 0.75, 1) 0.6s;
}

.alarm-list .alarm-adder {
    background-color: transparent;
    transition: none;
}

.alarm-list .alarm-item {
    position: relative;
    cursor: pointer;
}

.alarm-list .alarm-item.repeat {
    border: 1px solid var(--color-white);
}

.alarm-list .alarm-item.disabled {
    opacity: 0.5;
}

.alarm-list .alarm-item.holded {
    background-color: var(--color-gray);
    opacity: 1;
}

.alarm-list .alarm-item .week-list {
    font-size: 14px;
}

.alarm-list .alarm-item .week-list li {
    padding: 2px;
    opacity: 0.5;
}

.alarm-list .alarm-item .week-list li.selected {
    opacity: 1;
}

.alarm-list .alarm-item .fa-sync-alt {
    position: absolute;
    right: 8px;
    top: 8px;
}

.alarm-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 50;
    width: 95%;
    max-width: 360px;
    height: 100%;
    padding: 16px;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    background-color: var(--color-black);
    transform: translateY(100%);
    transition: transform 0.4s;
}

.alarm-modal.opened {
    transform: translateY(0%);
}

.time-selector-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    font-size: 52px;
    font-family: 'Inconsolata', monospace;
    transition: opacity 0.2s;
    overflow: hidden;
    touch-action: none;
}

.time-selector-wrapper.locked {
    pointer-events: none;
    opacity: 0.75;
}

.time-selector-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--color-black) 0%, var(--color-black_alpha) 25%,
                var(--color-black_alpha) 75%, var(--color-black) 100%);
    z-index: 10;
    pointer-events: none;
}

.time-selector {
    position: relative;
    flex-grow: 1;
    height: 77px;
    cursor: ns-resize;
    transition: top 0.2s;
}

.time-selector > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
}

.time-selector.no-transition {
    transition: none;
}

.alarm-modal .day-selector {
    width: 100%;
}

.alarm-modal .day-selector li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    opacity: 0.5;
    transition: border 0.2s, opacity 0.2s;
}

.alarm-modal .day-selector li.selected {
    border-color: var(--color-white);
    opacity: 1;
}

.alarm-modal .checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}

input#alarm-name {
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
    font-size: 24px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] + label::before {
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    margin-right: 8px;
    content: "";
    transition: background-color cubic-bezier(0, 1, 0.75, 1) 0.2s;
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--color-white);
    box-shadow: 0 0 4px var(--color-white);
}

.alarm-modal .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.alarm-modal .buttons button {
    flex-grow: 0;
    width: 48%;
    height: 60px;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    font-size: 18px;
}

.alarm-modal .buttons .cancel {
    color: var(--color-white);
    background-color: var(--color-black);
}

.alarm-modal .buttons .ok {
    color: var(--color-black);
    background-color: var(--color-white);
}


/* Stopwatch */

.page__stopwatch {
    justify-content: space-evenly;
}

.page__stopwatch .time {
    position: relative;
    z-index: 10;
    font-family: 'Inconsolata', monospace;
    font-size: 64px;
    transition: top 0.4s;
}

.page__stopwatch .buttons {
    display: flex;
    width: 80%;
    max-width: 480px;
    height: 48px;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    overflow: hidden;
}

.buttons button {
    flex-grow: 1;
    border: none;
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 18px;
}

button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.page__stopwatch .buttons .start {
    display: block;
}

.page__stopwatch .buttons .stop {
    color: var(--color-black);
    background-color: var(--color-white);
    display: none;
}

.page__stopwatch .records {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 80%;
    max-width: 480px;
    height: 0%;
    overflow: hidden;
    touch-action: none;
    cursor: ns-resize;
    transition: height 0.4s;
}

.page__stopwatch .records.activated {
    height: 40%;
}

.page__stopwatch .time-selector-cover {
    background: linear-gradient(var(--color-black) 0%, var(--color-black_alpha) 25%);
}

.page__stopwatch .records ul {
    position: absolute;
    transition: top 0.4s;
}

.page__stopwatch .records ul.no-transition {
    transition: none;
}

.page__stopwatch .records ul li:last-child {
    text-shadow: 0 0 2px var(--color-white);
}

.page__stopwatch .records li {
    margin-top: 8px;
}


/* Timer */

.page__timer {
    justify-content: space-evenly;
}

.page__timer .buttons {
    display: flex;
    width: 50%;
    max-width: 320px;
    height: 48px;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    overflow: hidden;
}

.page__timer .buttons .start {
    display: block;
}

.page__timer .buttons .stop {
    color: var(--color-black);
    background-color: var(--color-white);
    display: none;
}